
.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Media Query for 1360px */
@media (max-width: 1360px) {
  .content-wrapper {
    padding: 1.5rem;
  }
}

/* Media Query for Tablets (768x1024) */
@media (max-width: 768px) {
  .content-wrapper {
    padding: 1rem;
  }
}

/* Media Query for Mobile (320x480) */
@media (max-width: 480px) {
  .content-wrapper {
    padding: 0.5rem;
  }
}