.descripcion-container {
  width: 70%;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.descripcion-imagen img {
  width: 500px;
  height: auto;
  border-radius: 15px;
}

.descripcion-texto {
  flex: 1;
  padding-left: 20px;
}

.descripcion-texto h2 {
  font-size: 30px;
  font-weight: normal;
  color: #2CB7A6;
}

.descripcion-texto h2 strong {
  font-weight: bold;
}

.descripcion-texto p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}


/* Media Queries */

@media (max-width: 1360px) {
  .descripcion-imagen img {
    width: 350px;
  }

  .descripcion-texto h2 {
    font-size: 22px;
  }

  .descripcion-texto p {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .descripcion-container {
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }

  .descripcion-imagen img {
    width: 100%;
    max-width: 500px;
  }

  .descripcion-texto {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .descripcion-container {
    margin: 10px auto;
  }

  .descripcion-texto h2 {
    font-size: 20px;
  }

  .descripcion-texto p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .descripcion-texto h2 {
    font-size: 18px;
  }

  .descripcion-texto p {
    font-size: 14px;
    text-align: justify;
  }

  .descripcion-imagen img {
    width: 100%;
    max-width: 400px;
    margin: 0;
  }

.descripcion-container {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

}