/* src/componentes/Tarjeta.css */
.tarjetas-container {
  font-family: sans-serif;
  background-color: #ffffff;
}

.header {
  background-color: #2CB7A6;
  padding: 2rem 2rem;
  text-align: center;
}

.header .subtitle {
  display: inline-flex;
  align-items: center;
  color: #2CB7A6;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}

.header .title {
  font-family: poppins;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 30px 0px 0px 0px;
}

.header .title2 {
  font-family: poppins;
  font-size: 25px;
  font-weight: normal;
  color: white;
  margin: 0;
}


.turismo {
  font-style: bold;
}

.icono-pin {
  font-size: 24px;
  margin: 0;
}


.tarjetas-list {
  width: 80%;
  max-width: 1200px;
  /* Limita el ancho para que quede centrado en pantallas muy grandes */
  margin: 0 auto;
  /* Centrar horizontalmente en la pantalla */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0rem;
}

.tarjeta {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: row;
  height: 300px;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta-imagen {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

.tarjeta-contenido {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tarjeta-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2CB7A6;
  margin-bottom: 0.5rem;
  text-align: left;
}

.tarjeta-descripcion {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  flex-grow: 1;
  text-align: justify;
}

.tarjeta-boton {
  font-size: 1rem;
  background-color: #2CB7A6;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.tarjeta-boton:hover {
  background-color: #38857c;
}

@media (max-width: 910px) {
  .header .subtitle {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    margin-bottom: 0.875rem;
  }

  .header .title {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    line-height: 1.3;
    margin: 10px 0px 0px 0px;
  }

  .header .title2 {
    font-size: 1.5rem;
    margin-top: 0rem;
  }

  .tarjetas-list {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    gap: 1.5rem;
  }

  .tarjeta {
    flex-direction: row;
    height: 320px;
  }

  .tarjeta-imagen {
    width: 250px;
    height: 100%;
  }

  .tarjeta-contenido {
    padding: 1.25rem;
  }

  .tarjeta-titulo {
    font-size: 1.3rem;
  }

  .tarjeta-descripcion {
    font-size: 0.95rem;
  }

  .tarjeta-boton {
    padding: 0.65rem 1.25rem;
    align-self: flex-start;
  }
}

@media (max-width: 679px) {
  .header .subtitle {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    margin-bottom: 0.75rem;
  }

  .header .title {
    font-size: 1.2rem;
    margin-bottom: 0px;
    line-height: 1.2;
  }

  .header .title2 {
    font-size: 1rem;
    margin-top: 0rem;
    line-height: 2rem;
  }

  .tarjetas-list {
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
  }

  .tarjeta {
    flex-direction: column;
    height: auto;
  }

  .tarjeta-imagen {
    width: 100%;
    height: 250px;
  }

  .tarjeta-contenido {
    padding: 1.5rem;
  }

  .tarjeta-titulo {
    font-size: 1.25rem;
  }

  .tarjeta-descripcion {
    font-size: 16px;
    text-align: left;
  }

  .tarjeta-boton {
    width: 100%;
    text-align: center;
  }

}